name: Docker

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * MON"
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log into Docker Hub registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log into GHCR registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get latest zrepl version
        run: |
          ZREPL_VERSION=$(curl -s https://api.github.com/repos/zrepl/zrepl/releases/latest | jq -r '.tag_name')
          echo "Latest zrepl version: $ZREPL_VERSION"
          echo ZREPL_VERSION=$ZREPL_VERSION >> $GITHUB_ENV
      - name: Check if the image exists
        run: |
          if docker manifest inspect ghcr.io/${{ github.repository }}:${{ env.ZREPL_VERSION }}; then
            IMAGE_EXISTS=true
          else
            IMAGE_EXISTS=false
          fi
          echo "Image exists: $IMAGE_EXISTS"
          echo IMAGE_EXISTS=$IMAGE_EXISTS >> $GITHUB_ENV

      - name: Set up Docker Buildx
        if: ${{ env.IMAGE_EXISTS == 'false' || github.event_name != 'schedule' }}
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: |
            ghcr.io/${{ github.repository }}/zrepl
            ${{ secrets.DOCKERHUB_USERNAME }}/zrepl
          labels: |
            org.opencontainers.image.title=zrepl
            org.opencontainers.image.description=One-stop ZFS backup & replication solution
            org.opencontainers.image.vendor=${{ github.repository }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
